@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.rainbow-text {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rainbow-bar {
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue);
}

